* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:antiquewhite;
}

header {
    background-color:olivedrab;
    color:antiquewhite;
    padding:20px;
}

h1 {
    display:inline-block;
    font-size:40px;
}

h2 {
    font-size: 24px;
    display:inline-block;
    padding:15px;
    flex:30%;
   
}

.top {
    margin-right: 30px;
    float:right;
    font-size: 18px;
    padding-top:10px;
    
}

.top ul {
   list-style-type:none;
}

.top ul li {
    display: inline-block;
    margin-left: 30px;
}

.top a {
    color:antiquewhite;
    text-decoration: none;
}

.nh {
    width:100%;
    margin-bottom:25px;
    height:400px;
    background-image:url(../Images/nhyard.jpg);
    background-position: center;
    background-size: cover;
}


section {
    display: inline-block;
    width:65%;
}

article {
    display:flex;
}

p {
    display:inline-block;
    border-left:5px solid black;
    padding: 20px;
    flex:70%;
}

.about-me {

}

.work {

}

.work ul li a:hover{
    background:transparent;
}

.prework {
    display:inline-block;
    background-image:url(/Assets/Images/motherboardwork.jpeg);
}

.contact-me {

}

.float-left {
    float: left;
    margin-right: 25px;
}

footer {
    background-color:olivedrab;
    color:antiquewhite;
    text-align: center;


}


@media screen and (max-width: 768px){
    main,nav {
        flex-direction: row;
    }
}